@charset "utf-8";

.nosotros{
	background:#C1E8D1;
	height: 50vh;
	text-align: center;
	padding: .1px;
	
}
/*
.titulo{
	font-weight: bold;
	font-size: 3rem;
	margin-top: 5%;
}
*/
.texto{
	margin: 15% 0;
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center; 
}
.texto p{
	font-size:2.9rem ;
	font-family: "Poiret One", sans-serif;
	font-weight: bold;
}
.texto img{
	width:100%;
}
@media only screen and (min-width:1000px){
	.nosotros{
		height:60vh;
	}
	.texto{
		margin-top:3em;
	}
	.texto p{
		font-size: 2rem;
	}
	.texto img{
		width: 60%;
	}
}