@charset "utf-8";
.banner{
	height: 60vh;
}
.banner1{
	position: relative;

}

.absolute{
	position: absolute;
}

.circulo{
	height: 100%;
	width: 100%;
}
.circulo img{
	width: 60%;
	
}
.banner p{
	margin: 1em 0em; 
    font-size:1rem;
}
/*
.circles{
	animation: turn1 15s linear infinite;
}

@keyframes turn1{
	to{
		transform: rotate(1turn);
	}
}*/

@media only screen and (min-width:720px){
	.banner{
		height:50vh;
	}
	.circulo img{
		width: 20em;
	}
}