@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
html, body {
    background-color: #dfdbe3;
	font-family: "Abel", serif;
	color:black;
}
/*Estilo del menu de navegación */
.header{
	background: #BFE3E7;
	color: black;
	display: flex;
	justify-content: space-between;
	height: 7em;
	align-items: center;
}
.logo img{
	width: 7em;
}
.header ul{
	list-style:none;
	margin: 0;
	padding:0;
	display: flex;
	height: inherit;
}
.header a{
	text-decoration: none;
	color: #2B3333;
	height: inherit;
	align-items: center;
	display: flex;
	padding: 0em 0.5em;
}
.menu{
	height: inherit;
}
.header li{
	height:inherit;
}

/* Codigo del apartado de productos*/
a{
	color: var(--primary-color);
	text-decoration: none;
}
a:hover{
	color: var(--primary-color-dark);
	text-decoration: none;
}
.center{
	text-align: center;
}