/* CSS Document */
*{
margin:0;
padding:0;
font-family: "Abel", serif;

}
/*Estilo del menu de navegación */
.header{
	background: #BFE3E7;
	color: black;
	display: flex;
	justify-content: space-between;
	height:10%;
	align-items: center;
}
.logo img{
	width: 7em;
}
.header ul{
	list-style:none;
	margin: 0;
	padding:0;
	display: flex;
	height: inherit;
}
.header a{
	text-decoration: none;
	color: #2B3333;
	height: inherit;
	align-items: center;
	display: flex;
	padding: 0em 0.5em;
}
.menu{
	height: inherit;
}
.header li{
	height:inherit;
}

body{
	background:#C0C0C0;
}
/*Estilos de formulario*/
.contenedor{
	height:100vh;
	width:100vw;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}
.formulario{ 
height: 20vh;
width: 40vh;
display:flex;
flex-direction:column;
justify-content:space-around;
align-items:center;
background:#E3FDFC;
border-radius:10px;
}